<div class="container">
  <nav>
    Real Time Event Tickets System
  </nav>

  <div>
    <div class="config-container">
      <!-- Configuration Form: Max Ticket Capacity, Total Tickets, etc. -->
      <app-start-stop></app-start-stop>
    </div>
      <app-config-page></app-config-page>
     
  
    <div class="ticket-info-container">
      <!-- Total Tickets Section (or any other relevant section for ticket info) -->
      <app-total-ticket></app-total-ticket>
    </div>
  
    <div class="app-container">
      <!-- Main Title and Log Display -->
      <!-- <h1>Event Ticketing System</h1> -->
      <app-log-display></app-log-display>
    </div>
  </div>

 
</div>





