.total-ticket-container {
    padding: 1rem;
    border: 1px solid #ddd;
    border-radius: 8px;
    text-align:start;
    background-color: #f9f9f9;
    max-width: 300px;
    margin: 0 auto;
  }
  
  .ticket-info {
    font-size: 1.2rem;
    margin-bottom: 10px;
    font-weight: bold;
  }
  
  .progress-bar {
    background-color: #e0e0e0;
    border-radius: 5px;
    height: 20px;
    overflow: hidden;
    margin-bottom: 10px;
  }
  
  .progress {
    height: 100%;
    background-color: #aaaf4c;
    transition: width 0.3s ease;
  }
  
  